body {
  background-color: #1D438A;
}

h1 {
  font-size: 50px;
  color: white;
}

button {
  width: 60px;
  height: 50px;
  background-color: #D1638B;
  color: white;
  font-size: larger;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.main-body {
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.frame, .frame10 {
  margin: 5px;
  padding: 5px 0px;
  width: 110px;
  height: 150px;
  background-color: white;
  font-size: 15px;
  color: #1D438A;
}

.frame10 {
  width: 120px;
}

.pins {
  margin-top: 5px;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.roll1, .roll2, .roll3 {
  padding: 10px 0px;
  width: 50%;
  text-align: center;
  font-size: 20px;
  color: black;
}

.roll2, .roll3 {
  border-top: 6px solid #1D438A;
  border-left: 6px solid #1D438A;
  border-bottom: 6px solid #1D438A;
}

.roll1 {
  border-top: 6px solid #1D438A;
}

.frame-score {
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.message-box {
  height: 30px;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: white;
  font-size: 20px;
  color: #1D438A;
  font-weight: bold;
}